body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    margin-bottom: 20px;
}

main {
    flex: 1 0 auto;
}

blockquote {
    border-color: #ff9800;
}

article {
    text-align: justify;
}

.article-details {
    margin-top: 20px;
}

article h1, article h2, article h3, article h4 {
    text-align: left;
}

article h1 {
    font-size: 4rem;
}

article h2 {
    font-size: 2.5rem;
    border-bottom: 1px solid #ff9800;
}

article h3 {
    font-size: 2rem;
    color: #ff9800;
}

article ul li {
    list-style-type: square;
    margin-left: 2rem;
}

.figure {
    text-align: center;
}

.caption {
    font-size: smaller;
    margin-top: 0;
}

.highlight, .highlighttable {
    line-height: 1.1em;
}
